<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Resultado Github</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src='main.js'></script>
</head>
<body>
    <div class="container">
        <div class="card mt-2 mb-2">
            <div class="card-body ">
                
                <p> <b>Resultado Git</b> 
                    
                <p> Id: <%= dado.id %> </p>
                <p> Nome: <%= dado.name %> </p>
                <p> E-mail: <%= dado.email %> </p>
                <p> Localidade: <%= dado.location %> </p>
                <p> Bio: <%= dado.bio %> </p>
                <p> Repositórios: <%= dado.public_repos %> </p>



                                
                                      
            </div>
        </div>
        <a href="/" class="btn btn-outline-dark">Procurar outro Github</a>
    </div>

  
</body>
</html>